{% extends "base.html" %}

{% block content %}
{% for node in page.node.walk %}
{% if node.name == "posts" %}
	{% for post in node.walk_pages  %}
	{% if not post.listing and not post.exclude %}
	{% if forloop.first %}
			<h2>{{ post.title }}</h2>
			<abbr>Posted on {{ post.created|date:"D, N j Y" }}</abbr>
			<!--
				{% render_excerpt post %}
				<a href="{{ post.url }}">Read more</a>
			-->
			{% render_article post %}
			<p><a href="{{ post.url }}">#</a></p>
			<hr />
			Previous posts:
		{% else %}
			<p>{{ post.created|date:"Y-m-d" }} - <a href="{{ post.url }}">{{ post.title }}</a> 
			{% if post.abstract %}
			: <i> {{ post.abstract }} </i>
			{% endif %}
			</p>
		{% endif %}
	{% endif %}
	{% endfor %}
{% endif %}
{% endfor %}

{% endblock %}
